{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Линейная регрессия
<form action="/p_lab1" method="POST">
    <p><input type="text" class="form_text" name="list1"> Телевизионная реклама</p>
    <p><input type="text" class="form_text" name="list2"> Реклама по радио</p>
    <p><input type="text" class="form_text" name="list3"> Реклама в газетах</p>
    <input type="submit" class="form_btn" value="Получить продажи">
    <h1>{{class_model}}</h1>
    <p>MSE (Mean Squared Error) = 0.3</p>
    <p>MSPE (Mean Squared Percentage Error) = 0.014</p>
    <p>MAPE(Mean Absolute Percentage Error) = 0.02</p>
    </p>
</form>

{% endblock %}